<!DOCTYPE html>
<html>
  <head>
    <title> Login Here </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Login Here </h1>
     <br/>
    <form name="Login" action="/login" method="post">
    User ID: <input type="text" name="userid" id="user"><br>
    Password: <input type="password" name="password" id="pass"><br>
    <input type="submit" value="login">
    </form>
  </body>
</html>