<html> 
<head>
 <title>Payment Details</title> 
 </head> <body>  
 <h2>Please Fill in the details</h2> 
 <form action="/Authenticate" method="post">
  <label>First Name</label> <input type = "text" name=firstname id=firstname />
   <br> 
   <label>Last Name</label> <input type = "text" name=lastname id=lastname />
    <br> 
    <label>Amount</label> 
       <input type = "text" name=amount id=amount />
       <br>
    <label>Credit card no</label> 
    <input type = "text" name=ccid id=ccid />
     <br> 
     <label>Cvv no</label> 
     <input type = "text" name=cvv id=cvv />
      <br> 
      <label>Expiry date</label> 
      <input type = "text" name=expiry id=expiry />
       <br> 
       
        <br>
         
           <input type="submit" name="addtocart" value="Pay"/> </body> </html>